<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Crysa - It Solution Template">

    <!-- ========== Page Title ========== -->
    <title>Crysa - It Solution Template</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/swiper-bundle.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/validnavs.css" rel="stylesheet" />
    <link href="assets/css/helper.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->

</head>

<body>

    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar bg-dark text-light top-style-one">
        <div class="container">
            <div class="row align-center">
                <div class="col-xl-8 col-lg-8 info">
                    <ul>
                        <li>
                            Need Help? <a href="tel:+4733378901">Request A Callback</a>
                        </li>
                        <li>
                            <i class="fal fa-clock"></i> <span>Working Hours: 8:00 AM – 7:45 PM</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 text-right item-flex">
                    
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav navbar-common navbar-sticky navbar-default validnavs">

            <!-- Start Top Search -->
            <div class="top-search">
                <div class="container-xl">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container d-flex justify-content-between align-items-center">            
                

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" class="logo" alt="Logo"></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Main Nav -->
                <div class="main-nav-content">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">

                        <img src="assets/img/logo.png" alt="Logo">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-times"></i>
                        </button>
                        
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Home</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Multipage</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index.html">It Solutions</a></li>
                                            <li><a href="index-2.html">Technology</a></li>
                                            <li><a href="index-5.html">SaaS Landing <span class="badge">New</span></a></li>
                                            <li><a href="index-3.html">It Agency</a></li>
                                            <li><a href="index-6.html">Data Analysis <span class="badge">New</span></a></li>
                                            <li><a href="index-7.html">Consulting Business <span class="badge">New</span></a></li>
                                            <li><a href="index-4.html">Tech Solution</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Onepage</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index-op.html">It Solutions</a></li>
                                            <li><a href="index-op-2.html">Technology</a></li>
                                            <li><a href="index-op-5.html">SaaS Landing <span class="badge">New</span></a></li>
                                            <li><a href="index-op-3.html">It Agency</a></li>
                                            <li><a href="index-op-6.html">Data Analysis <span class="badge">New</span></a></li>
                                            <li><a href="index-op-7.html">Consulting Business <span class="badge">New</span></a></li>
                                            <li><a href="index-op-4.html">Tech Solution</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a href="about-us.html" class="dropdown-toggle" data-toggle="dropdown" >About Us</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="about-us.html">About Style One</a></li>
                                            <li><a href="about-us-2.html">About Style Two</a></li>
                                            <li><a href="about-us-3.html">About Style Three</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="team-details.html">Team Single</a></li>
                                    <li><a href="why-choose-us.html">Why Choose Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="contact-us-2.html">Contact Style Two</a></li>
                                    <li><a href="404.html">Error Page</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Projects</a>
                                <ul class="dropdown-menu">
                                    <li><a href="project-2-colum.html">Projects two colum</a></li>
                                    <li><a href="project.html">Projects three colum</a></li>
                                    <li><a href="project-4-colum.html">Projects four colum</a></li>
                                    <li><a href="project-details.html">Project Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Services</a>
                                <ul class="dropdown-menu">
                                    <li><a href="services.html">Services Version One</a></li>
                                    <li><a href="services-2.html">Services Version Two</a></li>
                                    <li><a href="services-details.html">Services Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Blog</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-standard.html">Blog Standard</a></li>
                                    <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                    <li><a href="blog-2-colum.html">Blog Grid Two Colum</a></li>
                                    <li><a href="blog-3-colum.html">Blog Grid Three Colum</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                    <li><a href="blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Shop</a>
                                <ul class="dropdown-menu">
                                    <li><a href="shop.html">Shop Product</a></li>
                                    <li><a href="shop-single.html">Shop Single</a></li>
                                    <li><a href="shop-single-thumb-only.html">Shop Single Version Two</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                    <div class="attr-right">
                        <!-- Start Atribute Navigation -->
                        <div class="attr-nav">
                            <ul>
                                <li class="contact">
                                    <div class="call">
                                        <div class="icon">
                                            <i class="fas fa-comments-alt-dollar"></i>
                                        </div>
                                        <div class="info">
                                            <p>Have any Questions?</p>
                                            <h5><a href="mailto:info@crysta.com">info@crysta.com</a></h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Atribute Navigation -->

                        <!-- Start Side Menu -->
                        <div class="side">
                            <a href="#" class="close-side"><i class="icon_close"></i></a>
                            <div class="widget">
                                <div class="logo">
                                    <img src="assets/img/logo-light.png" alt="Logo">
                                </div>
                                <p>
                                    Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                </p>
                            </div>
                            <div class="widget address">
                                <div>
                                    <ul>
                                        <li>
                                            <div class="content">
                                                <p>Address</p> 
                                                <strong>California, TX 70240</strong>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="content">
                                                <p>Email</p> 
                                                <strong>support@validtheme.com</strong>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="content">
                                                <p>Contact</p> 
                                                <strong>+44-20-7328-4499</strong>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget newsletter">
                                <h4 class="title">Get Subscribed!</h4>
                                <form action="#">
                                    <div class="input-group stylish-input-group">
                                        <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <i class="arrow_right"></i>
                                            </button>  
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="widget social">
                                <ul class="link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- End Side Menu -->
                    </div>

                    <!-- Overlay screen for menu -->
                    <div class="overlay-screen"></div>
                    <!-- End Overlay screen for menu -->

                </div>
                <!-- Main Nav -->

            </div>   
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->

     <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Team Details</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                            <li class="active">Team</li>
                        </ol>
                      </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Team Single Area
    ============================================= -->
    <div class="team-single-area default-padding">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-5 pr-35 pr-md-15 pr-xs-15 team-single-info">
                    <div class="thumb">
                        <img src="assets/img/800x800.png" alt="Thumb">
                    </div>
                </div>
                <div class="col-lg-7 team-single-info">
                    <h2>Lucas Ethan</h2>
                    <span>Data analyst </span>
                    <p>
                        Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
                    </p>
                    <div class="list">
                        <ul>
                            <li>
                                <strong><i class="fas fa-envelope-open-text"></i> Email:</strong>
                                <a href="mailto:support@avedi.com">support@avedi.com</a>
                            </li>
                            <li>
                                <strong><i class="fas fa-phone-alt"></i> Phone:</strong>
                                <a href="tel:123-456-7890">+44-20-7328-4499</a>
                            </li>
                            <li>
                                <strong><i class="fas fa-map-marker-alt"></i> Address:</strong>
                                1401, 21st Street, California
                            </li>
                            <li>
                                <strong><i class="fas fa-globe-americas"></i> Website:</strong>
                                <a href="#">https://wwww.crysta.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="social">
                        <a class="btn btn-theme secondary effect btn-sm" href="#">Contact me</a>
                        <div class="share-link">
                            <i class="fas fa-share-alt"></i>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Single Area -->

    <!-- End Team Single Bottom Info -->
    <div class="team-single-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="team-single-bottom-info col-lg-6 pr-35 pr-md-15 pr-xs-15">
                    <h2>My Experience</h2>
                    <p>
                        Securing as informed declared or margaret. Joy horrible moreover man feelings own shy. Request norland neither mistake for yet. Between the for morning assured country.
                    </p>
                    <h3>Qualification & Experience</h3>
                    <ul>
                        <li>IT Consultancy</li>
                        <li>Software Development</li>
                        <li>Cloud Services</li>
                    </ul>
                </div>
                <div class="team-single-bottom-info col-lg-6 mt-md-50 mt-xs-40">
                    <div class="skill-items">
                        <!-- Progress Bar Start -->
                        <div class="progress-box">
                            <h5>Manage it service</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="87">
                                    <span>87%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-box">
                            <h5>Cyber Security</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="95">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-box">
                            <h5>Digital Experience</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="75">
                                    <span>75%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Progressbar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Single Bottom Info -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <img class="logo" src="assets/img/logo-light.png" alt="Logo">
                            <p>
                                Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address did showing.
                            </p>
                            <ul class="social">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Solutions</h4>
                            <ul>
                                <li>
                                    <a href="index.html"><i class="fas fa-angle-right"></i> IT Management</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Cyber Security</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Cloud Computing</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> IT Consulting</a>
                                </li>
                                <li>
                                    <a href="blog-standard.html"><i class="fas fa-angle-right"></i> Software Dev</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Backup & Recovery</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item contact-widget">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        5919 Trussville Crossings Pkwy, new Dusting town, Austria
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-clock"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Opening Hours:</strong>
                                            8:00 AM – 7:45 PM
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-user-headset"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Phone:</strong>
                                            <a href="tel:2151234567">+123 34598768</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item newsletter">
                            <h4 class="widget-title">Subscribe to Newsletter</h4>
                            <p>
                                Join our subscribers list to get the latest news and special offers. 
                            </p>
                            <form action="#">
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit"> Subscribe Now <i class="fa fa-paper-plane"></i></button>  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>&copy; Copyright 2022. All Rights Reserved by <a href="#">validthemes</a></p>
                        </div>
                        <div class="col-lg-6 text-right">
                            <ul>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->
    
    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/circle-progress.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/jquery.scrolla.min.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/validnavs.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>