/* ----------------------------------
    Contact Style
 ------------------------------------*/

 .contact-style-two-items {
	overflow: hidden;
	border-radius: 8px;
    position: relative;
    z-index: 1;
    .shape-left-top {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        @media only screen and (max-width: 991px) {
            background: transparent !important;
        }
    }
    @media only screen and (max-width: 991px) {
        background: transparent !important;
    }
}

 .contact-style-two {
     &:nth-child(2) {
        background: rgba(0, 0, 0, 0.1);
     }
     .item {
        padding: 50px 37px;
        .title {
            font-weight: 600;
            font-size: 22px;
        }
        p {
            margin: 0;
        }
        a {
            display: inline-block;
            margin-top: 20px;
            border-bottom: 1px solid;
            line-height: 1;
        }
        @media only screen and (max-width: 991px) {
            background: $color-theme;
            border-radius: 7px;
        }
     }
    i {
        display: inline-block;
        font-size: 35px;
        font-weight: 100;
        margin-bottom: 35px;
        height: 80px;
        width: 80px;
        line-height: 80px;
        background: $white;
        border-radius: 50%;
        color: $color-theme;
        text-align: center;
        &.fa-phone-plus {
            transform: rotate(90deg);
        }
    }
    &:last-child {
        border: none;
    }
    @media only screen and (max-width: 991px) {
        margin-top: 30px;
        &:first-child {
            margin-top: 0;
        }
    }
}


.contact-form-area {
    position: relative;
    background: rgba(242, 247, 248, 0.5);
    .google-maps {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 60%;
        border-right: 2px solid $white;
        @media only screen and (max-width: 991px) {
            position: relative;
            width: 100%;
        }
    }
    iframe {
        min-height: 435px;
        margin-bottom: -10px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .form {
        max-width: 630px;
        padding: 80px;
        position: relative;
        z-index: 1;
        background: $white;
        box-shadow: 0px 10px 30px 0px rgba(44, 130, 237, 0.4);
        border-radius: 8px;
        input {
            border: 1px solid #e7e7e7;
            background: $white;
            box-shadow: inherit;
            margin-bottom: 15px;
            min-height: 55px;
            padding: 5px 20px;
        }
        textarea {
            border: 1px solid #e7e7e7;
            background: $white;
            box-shadow: inherit;
            margin-bottom: 15px;
            padding: 5px 20px;
            min-height: 180px;
        }
        button {
            border: none;
            background: $color-theme;
            display: inline-block;
            padding: 17px 45px;
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0.5px;
            border-radius: 5px;
            color: $white;
            transition: all 0.35s ease-in-out;
            i {
                display: inline-block;
                margin-right: 5px;
                font-weight: 100;
            }
            &:hover {
                background: $dark;
            }
        }
        @media only screen and (max-width: 767px) {
            max-width: 100%;
            padding: 50px 30px;
            margin-top: 350px;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            padding: 80px;
            max-width: 100%;
            margin-top: 350px;
        }
    }
    @media only screen and (max-width: 991px) {
        padding-top: 0;
    }
}

.shape-right-bottom-large {
    position: absolute;
    right: -50px;
    top: -50px;
    height: 500px;
    width: 500px;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: right top;
}

.contact-style-two-area {
    background-size: 35%, contain !important;
    background-repeat: no-repeat !important;
    background-position: right bottom !important;
    background: $white;
    .form {
        max-width: 100%;
        margin-right: 50px;
        padding: 0;
        background: transparent;
        box-shadow: inherit;
        input {
            background: #f7f8fb;
            border: none;
            min-height: 60px;
            padding: 20px;
        }
        textarea {
            background: #f7f8fb;
            border: none;
            min-height: 200px;
            padding: 20px;
        }

        button {
            border-radius: 30px;
            margin-top: 15px;
        }
        @media only screen and (max-width: 991px) {
            margin-top: 60px;
            margin-right: 0;
        }
        
    }
    .contact-info {
        @media only screen and (max-width: 991px) {
            margin-top: 50px;
        }
        .item {
            display: flex;
            margin-top: 30px;
            .heading {
                margin-bottom: 40px;
            }
            i {
                display: inline-block;
                font-size: 30px;
                height: 50px;
                width: 50px;
                font-weight: 1;
                color: $color-theme;
            }
            h5 {
                font-weight: 600;
                text-transform: capitalize;
                font-size: 20px;
            }
            p {
                margin: 0;
            }
        }
    }
    
}
