
 $white:#ffffff;
 $gray:#E7EDF8;
 $black:#000000;
 $dark: #091d3e;
 $dark-primary: #011e2a;
 $dark-secondary: #222f4a;
 $color-heading: #232323;
 $color-text: #666666;
 $color-theme: #104cba;
 $border-theme: #104cba;
 $border-default: #e7e7e7;
 $border-dark: #011e2a;
 $gradient: linear-gradient(to right, #02218f,  #0e72e3, #02218f);
 $bg-theme: #104cba;

 $box-sadow: 0 0 10px #cccccc;
 $box-sadow-second: 0 0 25px rgba(0, 0, 0, .80);

$font-default: 'Yantramanav', sans-serif;
$font-heading: 'Yantramanav', sans-serif;
