/* --------------------------------------------
    Button
 ---------------------------------------------- */

 .btn {
    display: inline-block;
    font-weight: 500;
    text-transform: capitalize;
    @include transition(0.35s);
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: inherit;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    padding: 13px 30px;
    background: $gray;
    position: relative;
    z-index: 1;
    &:focus, &.active {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: inherit;
        border: 2px solid transparent;
    }
    &:hover {
        background-color: $color-theme;
        color: $white;
    }
    &.radius {
        @include border-radius(6px);
    }


    &.btn-border {
        border: 2px solid $border-default;
        background: transparent;
        &:hover {
            background: $color-theme;
            border-color: $color-theme;
        }
        &.animation {
            &::after {
                @include after(0, inherit, inherit, 0, 100%, 0, -1);
                background: $border-default;
                @include transition(0.25s);
            }
            &:hover {
                border-color: $border-default;
                color: $dark;
                &::after {
                    width: 100%;
                }
            }
        }
    }


    &.btn-border-dark {
        border: 2px solid $border-dark;
        background: transparent;
        &:hover {
            background: $dark;
            border-color: $dark;
        }
        &.animation {
            &::after {
                @include after(0, inherit, inherit, 0, 100%, 0, -1);
                background: $dark;
                @include transition(0.25s);
            }
            &:hover {
                border-color: $dark;
                color: $white;
                &::after {
                    width: 100%;
                }
            }
        }
    }


    &.btn-border-theme {
        border: 2px solid $border-theme;
        background: transparent;
        &:hover {
            background: $color-theme;
            border-color: $color-theme;
        }
        &.animation {
            &::after {
                @include after(0, inherit, inherit, 0, 100%, 0, -1);
                background: $color-theme;
                @include transition(0.25s);
            }
            &:hover {
                border-color: $color-theme;
                color: $white;
                &::after {
                    width: 100%;
                }
            }
        }
    }


    &.btn-border-light {
        border: 2px solid $white;
        background: transparent;
        color: $white;
        &:hover {
            background: $white;
            border-color: $white;
            color: $dark;
        }
        &.animation {
            &::after {
                @include after(0, inherit, inherit, 0, 100%, 0, -1);
                background: $white;
                @include transition(0.25s);
            }
            &:hover {
                border-color: $white;
                color: $dark;
                &::after {
                    width: 100%;
                }
            }
        }
    }


    &.btn-gradient {
        border: none;
        color: $white;
        &::after {
            @include after(0, inherit, inherit, 0, 100%, 100%, -1);
            background-color: $color-theme;
            background-image: $gradient;
            background-size: 220% 150%;
            @include transition(0.25s);
        }
        &:hover {
            &::after {
                background-position: -70% 0;
            }
        }
        &.active {
            background-position: -70% 0;
        }
    }


    &.btn-theme {
        color: $white;
        border: none;
        background: $color-theme;
        &::after {
            @include after(inherit, inherit, inherit, -5%, 150px, 115%, -1);
            background-color: $dark;
            @include transition(0.25s);
            transform: translateY(-45%) skew(25deg) scale(0);
        }
        &:hover {
            &::after {
                transform: translateY(-45%) skew(25deg) scale(1.2);
            }
        }
        &.hover-light {
            &::after {
                background-color: $white;
                @include transition(0.25s);
            }
            &:hover {
                color: $dark;
                @include transition(0.25s);
                &::after {
                    transform: translateY(-45%) skew(25deg) scale(1.2);
                }
            }
        }
    }




    &.btn-light {
        color: $color-heading;
        border: none;
        background: $white;
        border: 2px solid transparent;
        &:hover {
            color: $white;
            background: transparent;
            border: 2px solid $white
        }
    }





    &.btn-dark {
        color: $white;
        background: $dark;
        border: none;
        &::after {
            @include after(0, inherit, inherit, 0, 100%, 0, -1);
            background-color: $color-theme;
            @include transition(0.25s);
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }


    i {
        position: relative;
        top: 1px;
        margin-left: 5px;
    }

    &.text-slide {
        min-width: 150px;
        height: 55px;
        line-height: 55px;
        span {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            text-align: center;
          }
    }


    &.animate-border {
        overflow: inherit;
        z-index: inherit;
        width: 200px;
        height: 55px;
        line-height: 55px;
        padding: 0;
        &:hover {
            background: transparent;
            color: $dark;
            .hover-border::after,
            .hover-border::before {
                opacity: 1;
                -webkit-animation: open 0.4s;
                /* Chrome, Safari, Opera */
                animation: open 0.4s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
                animation-direction: normal;
            }
            .hover-border-bottom::after,
            .hover-border-bottom::before {
                opacity: 1;
                -webkit-animation: openB 0.4s;
                /* Chrome, Safari, Opera */
                animation: openB 0.4s;
                animation-delay: 0.4s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
                animation-direction: normal;
            }
        }
        .hover-border {
            position: absolute;
            left: 0;
            top: -1px;
            height: 100%;
            width: 100%;
            &::before {
                position: absolute;
                content: "";
                height: 0;
                width: 0;
                display: block;
                opacity: 0;
                border-top: solid 2px red;
                border-left: solid 2px red;
                right: 98px;
                top: -1px;
            }
            &::after {
                position: absolute;
                content: "";
                height: 0;
                width: 0;
                display: block;
                opacity: 0;
                border-top: solid 2px red;
                border-right: solid 2px red;
                left: 98px;
                top: -1px;
            }
        }
        .hover-border-bottom {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            &::before {
                position: absolute;
                content: "";
                width: 0;
                display: block;
                opacity: 0;
                height: 55px;
                border-bottom: solid 2px red;
                right: -1px;
                bottom: -2px;
            }
            &::after {
                position: absolute;
                content: "";
                width: 0;
                display: block;
                opacity: 0;
                height: 100%;
                border-bottom: solid 2px red;
                left: 0;
                bottom: -2px;
            }
        }
    }


    &.animated-arrow {
        border: none;
        background: transparent;
        min-width: 14rem;
        height: auto;
        padding: 0;
        .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3.5rem;
            height: 3.5rem;
            background: $color-theme;
            border-radius: 2rem;
            .icon {
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                left: 15px;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                &::before {
                    position: absolute;
                    content: "";
                    top: -0.25rem;
                    right: 0.0625rem;
                    width: 0.625rem;
                    height: 0.625rem;
                    border-top: 0.125rem solid $white;
                    border-right: 0.125rem solid $white;
                    transform: rotate(45deg);
                }
            } 
        }
        .button-text {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 15px 0;
            margin: 0 0 0 70px;
            color: $white;
            line-height: 2;
            text-align: left;
            width: 100%;
            font-size: 15px;
            text-transform: uppercase;
        }
        &:hover {
            color: $white;
            .circle {
                width: 100%;
                .icon.arrow {
                    background: $white;
                    transform: translate(1.5rem, 0);
                }
            }
            .button-text {
                color: $white;
            }
        }
    }
    &.circle {
        border-radius: 30px !important;
    }
}

.text-shine {
    background: linear-gradient(to right, $dark 0, $white 10%, $color-theme 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    padding: 12px 48px;
}

.animate-inout {
    background: linear-gradient(90deg, #8A6552 0%, #472d20 100%);
    color: $white;
    font-size: 12px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: solid 2px $border-theme;
    cursor: pointer;
    span {
        z-index: 1;
        transition: all 0.3s ease-out;
        line-height: 20px;
    }
    &::before, &::after {
        width: 0%;
        height: 0%;
        position: absolute;
        content: "";
        border-radius: 100%;
    }
    &:after {
        transition: all 0.5s ease;
        background-color: $white;
    }
    
    &:before {
        transition: all 0.5s ease-out;
        background: $color-theme;
    }
    &.animate-inout-borde {
        background: transparent;
        color: $dark;
        &::after {
            background: linear-gradient(90deg, #8A6552 0%, #472d20 100%);
        }
        &:hover {
            color: $white;
            &::before {
                transition: all 0.5s ease-in;
            }
            &::after {
                transition: all 0.7s ease-in;
            }
        }
    }
    &:hover {
        color: $dark;
        &::before, &::after {
            width: 200px;
            height: 200px;
            border-radius: 4px;
        }
        &::before {
            transition: all 0.5s ease-in;
        }
        &::after {
            transition: all 0.7s ease-in;
        }
    }
    
}


.btn-md {
    padding: 17px 45px;
    font-size: 17px;
}
  
.btn-sm {
    padding: 14px 40px;
    font-size: 14px;
}
  
.btn-border-secondary {
    display: inline-block;
    border: 1px solid #e7e7e7;
    padding: 12px 35px;
    border-radius: 30px;
    color: $color-heading;
    i {
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;
    }
    &:hover {
        border-color: $color-theme;
        background: $color-theme;
        color: $white;
    }
}
